<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name=".app.MainActivity">
        </activity>

        <receiver
            android:name=".core.syncservice.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".core.syncservice.AndroidApplicationService"
            android:foregroundServiceType="dataSync"/>
    </application>
</manifest>
